<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Challengers</title>
    <!-- 공통으로 쓰이는 css파일 -->
<style>
    <!-- css -->

</style>

</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>


<th:block layout:fragment="content"></th:block>


<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<!-- 공통 JS 파일 -->



<script th:inline="javascript">
// 공통 JS 함수 설정


</script>
</body>
</html>